# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs and test outputs
out.txt
test_all_out*.txt
pip-log.txt

# Directories
alzheimer/
